@if (visible()) {
  <div
    class="modal-backdrop"
    (click)="onBackdropClick($event)"
    role="dialog"
    [attr.aria-label]="title()"
    aria-modal="true"
  >
    <div class="modal-panel" [class.modal-panel-lg]="size() === 'lg'" [class.modal-panel-xl]="size() === 'xl'">
      <header class="modal-header">
        <h2 class="modal-title">{{ title() }}</h2>
        <button
          class="modal-close"
          type="button"
          (click)="closeModal()"
          aria-label="Close dialog"
        >
          &times;
        </button>
      </header>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
}
